{
  "source": {
    "directories": [
      "sources"
    ],
    "excludes": [
      "MonolithFacade",
      "BackendFacade",
      "ClientFacade",
      "DoctrineDBALAdapter",
      "DoctrineDBALStorage",
      "HttpApiAdapter",
      "Action",
      "Integration"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "tests\/_data\/infection-log.txt"
  },
  "phpUnit": {
    "configDir": ".",
    "customPath": "vendor\/phpunit\/phpunit\/phpunit"
  }
}